<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页帮助菜单</title>
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/guide.css">
    <link rel="stylesheet" href="../plugins/Swiper-3.4.2/dist/css/swiper.min.css">
</head>
<body>
<div class="guideContainer">
    <div class="header-title">
        <h3 class="types-title"><span
                class="tit-icon icon-new-l tit-icon-l"></span><em>流</em>／<em>程</em>／<em>引</em>／<em>导</em><span
                class="tit-icon icon-new-r tit-icon-r"></span></h3>
    </div>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper" id="wrapper">
            <div class="swiper-slide">
                <div class="index-list-wrap">
                    <div class="function-card-wrap">
                        <div class="function-card-box">
                            <div class="box">
                                <div class="img-box"
                                     style="background-image: linear-gradient(-90deg, #ffcb7b 0, #ffa01a 100%);">
                                    <span class="iconfont icon-jichuxinxi i38"></span>
                                    基础信息收集
                                </div>
                                <div class="function-intro-box">
                                    <p class="function-desc" title="对物资、服务类招标信息收集，包括招标批次，标段，供应商等信息通过导入模版方式收集。">
                                        对物资、服务类招标信息收集，包括招标批次，标段，供应商等信息通过导入模版方式收集。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="index-list-wrap">
                    <div class="function-card-wrap">
                        <div class="function-card-box">
                            <div class="box">
                                <div class="img-box"
                                     style="background-image: linear-gradient(-90deg,#f68688 0,#f02930 100%);">
                                    <span class="iconfont icon-zhaobiaoxiangmu i38"></span>
                                    唱标情况收集展示
                                </div>
                                <div class="function-intro-box" style="padding: 20px 23px 25px;">
                                    <p class="function-desc"
                                       title="收集供应商对每个标段、报报价情况，分类统计每个标段、报供应商报价情况，分别输出技术、商务阅标模版。">
                                        收集供应商对每个标段、报报价情况，分类统计每个标段、报供应商报价情况，分别输出技术、商务阅标模版。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="index-list-wrap">
                    <div class="function-card-wrap">
                        <div class="function-card-box">
                            <div class="box">
                                <div class="img-box"
                                     style="background-image: linear-gradient(-90deg,#b3acf2 0,#7265e6 100%);">
                                    <span class="iconfont icon-zhuanjia i44"></span>
                                    专家打分信息
                                </div>
                                <div class="function-intro-box">
                                    <p class="function-desc"
                                       title="根据类型导出技术、商务、价格模版，对专家信息进行分组收集，按模版收集专家收集技术部分打分情况，按模版收集专家收集商务部分打分情况">
                                        根据类型导出技术、商务、价格模版，对专家信息进行分组收集，按模版收集专家收集技术部分打分情况，按模版收集专家收集商务部分打分情况。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="index-list-wrap">
                    <div class="function-card-wrap">
                        <div class="function-card-box">
                            <div class="box">
                                <div class="img-box"
                                     style="background-image: linear-gradient(-90deg,#7ec2f3 0,#398eff 100%);">
                                    <span class="iconfont icon-tongji i44"></span>
                                    打分情况统计分析
                                </div>
                                <div class="function-intro-box">
                                    <p class="function-desc"
                                       title="根据公式计算评标价格、计算得分表、计评标技术评分表、计评标价格评分表、计算综合得分、统计出最终中标人，并输出。">
                                        根据公式计算评标价格、计算得分表、计评标技术评分表、计评标价格评分表、计算综合得分、统计出最终中标人，并输出。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="index-list-wrap">
                    <div class="function-card-wrap">
                        <div class="function-card-box">
                            <div class="box">
                                <div class="img-box"
                                     style="background-image: linear-gradient(-90deg,#65da98 0,#0cba4d 100%);">
                                    <span class="iconfont icon-excel i38"></span>
                                    模版功能
                                </div>
                                <div class="function-intro-box">
                                    <p class="function-desc"
                                       title="商务、技术模版维护，用户维护专家打分模版，用户维护技术打分模版，用户维护商务打分模版，用户维护价格打分模版。">
                                        商务、技术模版维护，用户维护专家打分模版，用户维护技术打分模版，用户维护商务打分模版，用户维护价格打分模版。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="index-list-wrap">
                    <div class="function-card-wrap">
                        <div class="function-card-box">
                            <div class="box">
                                <div class="img-box"
                                     style="background-image: linear-gradient(-90deg,#fa90ba 0,#f5317f 100%);">
                                    <span class="iconfont icon-xitongcanshu i38" style="font-size: 32px"></span>
                                    系统参数
                                </div>
                                <div class="function-intro-box">
                                    <p class="function-desc" title="公式维护，包括物资类和非物资类公式维护，权重功能维护。">
                                        公式维护，包括物资类和非物资类公式维护，权重功能维护。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <!--<div class="swiper-pagination"></div>-->
    </div>

</div>
<script src="../plugins/jquery-1.9.1.min.js"></script>
<script src="../plugins/Swiper-3.4.2/dist/js/swiper.min.js"></script>
<script src="../js/guide.js"></script>
</body>
</html>