<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板页</title>
    <link rel="stylesheet" href="../plugins/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/bootstrap-table/bootstrap-table.css">
    <link rel="stylesheet" href="../css/modalCSS.css">
    <link rel="stylesheet" href="../css/templateDemoCss.css">
    <link rel="stylesheet" href="../css/templateCss.css">

</head>
<body>
<div class="containerAll">
    <div class="bootstrapTableCssDesign">
        <table id="tb_order"></table>
    </div>
</div>
<script src="../plugins/jquery-1.9.1.min.js"></script>
<script src="../plugins/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="../plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="../js/template.js"></script>
</body>
</html>