<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.com.hqep.templet.dao.templetDao">

    <sql id="DefaultTableName">TBL_BBGS_TEMPLATE</sql>

    <sql id="DefaultSelects"> ID , FILE_NAME , REAL_NAME , FILE_PATH , TEMPLATE_TYPE , IS_DEFAULT , IS_MATERIAL ,UPTIME  </sql>

    <resultMap id="DefaultResultMap" type="cn.com.hqep.templet.model.tblBbgsTemplateModel">
        <result column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName"/>
        <result column="REAL_NAME" jdbcType="VARCHAR" property="realName"/>
        <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath"/>
        <result column="TEMPLATE_TYPE" jdbcType="VARCHAR" property="templateType"/>
        <result column="IS_DEFAULT" jdbcType="VARCHAR" property="isDefault"/>
        <result column="IS_MATERIAL" jdbcType="VARCHAR" property="isMaterial"/>
        <result column="UPTIME" jdbcType="VARCHAR" property="uptime"/>
    </resultMap>

    <insert id="saveTemplet" parameterType="cn.com.hqep.templet.model.tblBbgsTemplateModel">
        INSERT INTO
        <include refid="DefaultTableName"/>
        (
        <include refid="DefaultSelects"/>
        )
        VALUES (
        #{id,jdbcType=VARCHAR},
        #{fileName,jdbcType=VARCHAR},
        #{realName,jdbcType=VARCHAR},
        #{filePath,jdbcType=VARCHAR},
        #{templateType,jdbcType=VARCHAR},
        #{isDefault,jdbcType=VARCHAR},
        #{isMaterial,jdbcType=VARCHAR},
        #{uptime,jdbcType=INTEGER}
        )
    </insert>

    <select id="listAll" parameterType="cn.com.hqep.templet.model.tblBbgsTemplateModel" resultMap="DefaultResultMap">
        SELECT
        <include refid="DefaultSelects"/>
        FROM
        <include refid="DefaultTableName"/>
        <where>
            1 = 1
            <if test="id != null">
                AND ID = #{id,jdbcType=VARCHAR}
            </if>
            <if test="fileName != null">
                AND FILE_NAME = #{fileName,jdbcType=VARCHAR}
            </if>
            <if test="realName != null">
                AND REAL_NAME = #{realName,jdbcType=VARCHAR}
            </if>
            <if test="templateType != null">
                AND TEMPLATE_TYPE = #{templateType,jdbcType=VARCHAR}
            </if>
            <if test="filePath != null">
                AND FILE_PATH = #{filePath,jdbcType=VARCHAR}
            </if>
            <if test="templateType != null">
                AND TEMPLATE_TYPE = #{templateType,jdbcType=VARCHAR}
            </if>
            <if test="templateType != null">
                AND TEMPLATE_TYPE = #{templateType,jdbcType=VARCHAR}
            </if>
            <if test="isDefault != null">
                AND IS_DEFAULT = #{isDefault,jdbcType=VARCHAR}
            </if>
            <if test="isMaterial != null">
                AND IS_MATERIAL = #{isMaterial,jdbcType=VARCHAR}
            </if>
            <if test="uptime != null">
                AND UPTIME = #{uptime,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY IS_DEFAULT DESC, UPTIME
    </select>

    <delete id="delTemplet" parameterType="cn.com.hqep.templet.model.tblBbgsTemplateModel">
        DELETE FROM
        <include refid="DefaultTableName"/>
        WHERE ID = #{id,jdbcType=VARCHAR}
    </delete>
    <!--根据id查询实体-->
    <select id="queryTempletModelById" parameterType="String" resultMap="DefaultResultMap">
        SELECT
        <include refid="DefaultSelects"/>
        FROM
        <include refid="DefaultTableName"/>
        WHERE ID = #{id,jdbcType=VARCHAR}
    </select>
    <!--查询数据条数-->
    <select id="queryCount" parameterType="cn.com.hqep.templet.model.tblBbgsTemplateModel" resultType="Integer">
        SELECT COUNT(*) FROM
        <include refid="DefaultTableName"/>
        WHERE
        TEMPLATE_TYPE = #{templateType,jdbcType=VARCHAR}
        and FILE_NAME = #{fileName,jdbcType=VARCHAR}
    </select>

    <!--更新对象中不为空数据-->
    <update id="updateModel">
        UPDATE
        <include refid="DefaultTableName"/>
        <set>
            <if test="fileName != null">
                FILE_NAME = #{fileName,jdbcType=VARCHAR}
            </if>
            <if test="realName != null">
                , REAL_NAME = #{realName,jdbcType=VARCHAR}
            </if>
            <if test="templateType != null">
                , TEMPLATE_TYPE = #{templateType,jdbcType=VARCHAR}
            </if>
            <if test="filePath != null">
                , FILE_PATH = #{filePath,jdbcType=VARCHAR}
            </if>
            <if test="isDefault != null">
                , IS_DEFAULT = #{isDefault,jdbcType=VARCHAR}
            </if>
            <if test="isMaterial != null">
                , IS_MATERIAL = #{isMaterial,jdbcType=VARCHAR}
            </if>
            <if test="uptime != null">
                , UPTIME = #{uptime,jdbcType=INTEGER}
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>
